body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.form-container {
    background-color: rgba(47, 79, 79, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
    animation: fadeIn 1s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #FFA500; 
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    color: #1E90FF; 
}

.form-container label::before {
    content: attr(data-icon);
    position: absolute;
    left: -25px;
    top: 0;
    font-size: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.form-container input:focus {
    box-shadow: 0 0 5px #1E90FF; 
    outline: none;
}

.form-container button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

.form-container button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 100px;
    background: url('horazion\ .ico') no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: left 0.1s, opacity 0.2s;
}

.form-container button:hover::before {
    left: calc(100% + 50px);
    opacity: 1;
}

.form-container button:hover {
    transform: scale(1.05);
}

.form-container .btn-submit {
    background-color: #1E90FF; 
    color: white;
}

.form-container .btn-clear {
    background-color: #FFA500; 
    color: white;
}

.form-container .btn-group {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}
